.footer {
  background-color: #2d2d2d;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footerPadding {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.footerLinksDiv {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 150px;
  text-align: left;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.socialmedia a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.socialmedia span {
  margin-left: 10px;
}

.socialmedia .icon {
  margin-right: 10px;
}

.footerBelow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 2rem;
}

hr {
  color: white;
  width: 90%;
  margin-top: 1rem;
}

.footerBelow p {
  font-size: 13px;
  line-height: 15px;
  color: white;
  font-weight: 600;
  padding-bottom: 5px;
}

.footerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.footerLogo {
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: bold;
}
